#for Email
VERIFY_LINK=http://localhost:3000/api/verify-email
EMAIL_USER=bcoderunner@gmail.com
EMAIL_PASS=ddfs ppxy woch hfpt

#for JWT
JWT_SECRET = jwt_secret
JWT_EXPIRES_IN = 20d

STRIPE_SECRET_KEY=sk_test_enter_your_stripe_api_key

DATABASE_URL="postgresql://db_user:db_pass@localhost:5432/db_name?schema=public"

